{%load static%}
<br><br><br>
<nav class="navbar bottom navbar-light" style="background-color: #E7E7E4;">
    <div class="container">
        <div class="col-sm-4">
            <div class="card" style="background-color: #E7E7E4; border:0;">
                <div class="card-body">
                    <p class="text-start">입찰모아</p>
                <p class="text-start">대표: 박은영</p>
                <p class="text-start">사업자등록번호: 230-88-01914 </p>
                <address>
                    인천광역시 서구 보듬6로 32, 2층(오류동)
                </address>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card text-end" style="background-color: #E7E7E4; border:0;">
                <div class="card-body">
                    <p class="card-text">
                    <a href="tel:+8215771452" class="text-decoration-none">
                <button type="button" class="btn btn-outline-secondary btn-sm">
                    <i class="fas fa-phone-volume fa-2x"></i>
                    1577-1452
                </button>
                </a>


                <a href="https://blog.naver.com/moabid2020" class="text-decoration-none" target="_blank">
                <button type="button" class="btn btn-outline-secondary btn-sm">
                    <i class="fas fa-blog fa-2x"></i>
                    Naver Blog
                </button>
                </a>
                    </p>
                    <p class="card-text">COPYRIGHT © 입찰모아</p>
                </div>
            </div>


        </div>

    </div>

</nav>





